@inject TodoService TodoService
@page "/create"



<div>
    
    <h2>Add New Todo</h2>
    <input type="text" @bind="newTitle" placeholder="Todo text" />
    <input type="datetime-local" @bind="newTodoDueDate" />
    <button class="btn btn-primary" @onclick="AddTodo">Add</button>
   
</div>

<div>
    <h3>@statusMessage</h3>
    <h3>@statusMessageEmpty</h3>    
</div>

@code {

    
    private string newTitle;
    private DateTime newTodoDueDate = DateTime.Now;
    private string statusMessage="";
    private string statusMessageEmpty="";
    private System.Timers.Timer clearMessageTimer;
    

    

    private void AddTodo()
    {
        if (string.IsNullOrWhiteSpace(newTitle))
        {
            statusMessageEmpty = "Please enter a todo";           

           
        }
        if (!string.IsNullOrWhiteSpace(newTitle))
        {
            var newTodo = new MyTodo
                {
                    Title = newTitle,

                    TodoDate = newTodoDueDate
                };
            TodoService.AddNewTodo(newTitle, newTodoDueDate);
            newTitle = "";
            newTodoDueDate = DateTime.Now;
        }

        statusMessage = TodoService.StatusMessage;

        clearMessageTimer = new System.Timers.Timer(3000) { AutoReset = true };
        clearMessageTimer.Elapsed += (sender, e) =>
        {
            statusMessageEmpty = "";
            TodoService.StatusMessage = "";
            StateHasChanged();
        };
        clearMessageTimer.Start();
    }

   

}
