@inject TodoService TodoService
@page "/create"



<div>
    <h2>Add New Todo</h2>
    <input type="text" @bind="newTodoText" placeholder="Todo text" />
    <input type="datetime-local" @bind="newTodoDueDate" />
    <button class="btn btn-primary" @onclick="AddTodo">Add</button>
    <button class="btn btn-secondary" @onclick="HidePopup">Cancel</button>
</div>

<ul>
    @foreach (var todo in TodoService.Todos)
    {
        <li class="card m-2 p-2 bg-primary-subtle">
            <div class="">
                @todo.Text <br>
                <span>Due: @todo.TodoDate.ToString("g")</span>
                <input type="checkbox" @bind="todo.IsDone" />
                <button class="bg-danger-subtle border-danger" @onclick="(() => RemoveTodo(todo))">Remove</button>
            </div>
        </li>
    }
</ul>

@code {
   
    private bool showPopup = false;
    private string newTodoText = "";
    private DateTime newTodoDueDate = DateTime.Now;


    private void RemoveTodo (MyTodo todo)
    {
        TodoService.Todos.Remove(todo);
    }

    private void ShowPopup()
    {
        showPopup = true;
    }

    private void HidePopup()
    {
        showPopup = false;
    }

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodoText))
        {
            TodoService.Todos.Add(new MyTodo { Text = newTodoText, TodoDate = newTodoDueDate });
            newTodoText = "";
            newTodoDueDate = DateTime.Now;
            HidePopup();
        }
    }

 
}
