@inject TodoService TodoService
@page "/"


<h1>What Should I Do Today 🤔</h1>
<ul>
    @foreach (var todo in TodoService.Todos)
    {
        <li class="card m-2 p-2 bg-primary-subtle">
            
           <dev class="">
                @todo.Text <br>
                <span>Due: @todo.TodoDate.ToString("g")</span>
                <input type="checkbox" @bind="todo.IsDone" />
                <button class="bg-danger-subtle border-danger" @onclick="(() => RemoveTodo(todo))">Remove</button>
                
           </dev>
        </li>
    }
</ul>

@code {  
    private void RemoveTodo (MyTodo todo)
    {
        TodoService.Todos.Remove(todo);
    }  
}
