.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #C7D2E2 70%);
}

.top-row {
    background-color: #C7D2E2;
    border-bottom: 1px solid #C7D2E2;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .page {
        flex-direction: column-reverse;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: fixed; /* Ändra till "fixed" för att fastna längst ner */
        bottom: 0; /* Placera längst ner */
    }

    .top-row {
        display: none; /* Dölj .top-row i mobilversion */
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row; /* Återgå till radlayout i PC-versionen */
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
